<ion-content>

    <ion-grid class="grid1">

        <ion-row class="row1">
            <ion-col>

            </ion-col>
        </ion-row>

        <ion-row class="row2">
            <ion-col>

            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-slide>
        <div class="contaier-login">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="/assets/LOGO.jpg" width="30%" /><br /><br />
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list>

                            <ion-item>
                                <ion-icon name="mail-outline"></ion-icon>
                                <ion-input name="user" type="text" required placeholder="Email"></ion-input>
                            </ion-item>
                            <br />
                            <ion-item>
                                <ion-icon name="key-outline"></ion-icon>
                                <ion-input name="password" type="password" required placeholder="Password"></ion-input>
                            </ion-item>
                            <div class="ion-margin-top ion-text-right forget">
                                <a routerLink='/forgot'>forgot password?</a>
                            </div>
                            <!-- <ion-col>
                                <ion-label>
                                    <h4>Dont have an account? <a routerLink='/forgot'>REGISTER</a></h4>
                                </ion-label>
                            </ion-col> -->

                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button type="submit" fill="solid" expand="full">
                            LOGIN
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label>
                            <h4>Dont have an account? <a routerLink='/signup'>REGISTER</a></h4>
                        </ion-label>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </div>
    </ion-slide>