<ion-content>

    <ion-grid class="grid1">

        <ion-row class="row1">
            <ion-col>

            </ion-col>
        </ion-row>

        <ion-row class="row2">
            <ion-col>

            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-slide>
        <div class="contaier-login">
            <ion-grid>

                <ion-row>
                    <ion-col>
                        <ion-list>


                            <ion-item>
                                <ion-icon name="mail-outline"></ion-icon>
                                <ion-input name="user" type="text" required placeholder="Alamat"></ion-input>
                            </ion-item>
                            <br />
                            <ion-item>
                                <ion-icon name="key-outline"></ion-icon>
                                <ion-input name="password" type="password" required placeholder="Password"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-icon name="person" class="icon-login"></ion-icon>
                                <ion-input name="user" type="text" required placeholder="Nama Lengkap"></ion-input>
                            </ion-item>
                            <br />
                            <ion-item>
                                <ion-icon name="reader-outline"></ion-icon>
                                <ion-input name="user" type="text" required placeholder="NIP/NIS/NIK"></ion-input>
                            </ion-item>
                            <br />
                            <ion-item>
                                <ion-icon name="home-outline"></ion-icon>
                                <ion-input name="user" type="text" required placeholder="Alamat"></ion-input>
                            </ion-item>
                            <br />
                            <ion-item>
                                <ion-icon name="call-outline"></ion-icon>
                                <ion-input name="user" type="text" required placeholder="No Telpon"></ion-input>
                            </ion-item>
                            <br />
                            <div class="ion-margin-top ion-text-right forget">


                            </div>

                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button type="submit" fill="solid" expand="full">
                            REGISTER
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label>
                            <h4>have an account? <a routerLink='/login'>LOGIN</a></h4>
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-slide>