<ion-content>

    <ion-grid class="grid1">

        <ion-row class="row1">
            <ion-col>

            </ion-col>
        </ion-row>

        <ion-row class="row2">
            <ion-col>

            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-slide>
        <div class="contaier-login">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="/assets/LOGO.jpg" width="30%" /><br /><br />
                    </ion-col>
                </ion-row>
                <p class="tekss">Masukkan email anda, kami akan mengirimi link ganti password baru ke email anda </p>
                <!-- <h4 class="justify">Masukkan email anda, kami akan mengirimi link ganti password baru ke email anda</h4> -->
                <ion-row>
                    <ion-col>
                        <ion-list>

                            <ion-item>
                                <ion-icon name="mail-outline"></ion-icon>
                                <ion-input name="user" type="text" required placeholder="Email"></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button type="submit" fill="solid" expand="full">
                            SEND
                        </ion-button>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </div>
    </ion-slide>